<section id="about">
  <div class="p-3">
    <h1>Mission</h1>
    <p>Bridging the digital divide, promoting entrepreneurship, and fostering a thriving Open Source ecosystem in Africa</p>
  </div>
  <div class="p-3">
    <h1>Vision</h1>
    <p>To create a future where open source software is embraced and accessible across Africa, integrating African languages and cultures. We envision a continent where open source drives local innovation, bridges digital gaps, and fosters sustainable development. 
        We empower Africans to shape their digital future and contribute to the global open source community through collaboration and inclusive participation.</p>
  </div>
</section>