<nav class="navbar fixed-top align-items-center">
    <div class="container nav-con">
      <div class="logo">
        <a class="navbar-brand" href="/">
          <img class="header-logo" src="/static/img/site/evos.jpg" alt="Logo" height="45px" />
        </a>
      </div>

      <ul class="nav justify-content-end">
        <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Programs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Code of Conduct</a></li>
        <li class="nav-item"><a href="https://mesrenyamedogbe.hashnode.dev/" class="nav-link" target="_blank">Blog</a></li>
      </ul>
    </div>
  </nav>